<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Performance Detail</title>



<!-- STYLESHEET -->
<link rel="stylesheet" href="stylesheets\styles.css">
<link rel="icon" href="images/sport-car.png">


<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

</head>


<body class="d-flex flex-column" style="height: 100vh;">

    

    <%- include('../partials/navbar') %>



   



    <%- body %>



   

<script src="javascripts\index.js"></script> 



<!-- <script src="/javascripts/validateForms.js"></script>




</body>
</html>