<% layout('layouts/boilerplate') %>


<!-- Header ------------------------------------------------------------------------------------------------------------->

<header class="video-header">


  <video id="video-background" src="images/car-wash.mov" muted loop autoplay></video>


<div class="header-content">
  <h1>Make your car the best it can be!</h1>


<div class="scedule-now">
  <a class="effect1" href="#">
    Schedule Now!
    <span class="bg"></span>
  </a>
</div>

</div>


</header>




<!-- About Section------------------------------------------------------------------------------------------------------------------- -->





<section id="about">

  <div class="img-div">
    <img class="logo" src="images/logo.jpg" alt="logo">
  </div>

  <h2>About Us</h2>

<div class="about-text">
    

<p>             Welcome to High Performance Detail, your premier destination for top-tier car detailing services in Chico, California. Our team of skilled professionals is dedicated to enhancing and preserving the beauty of your vehicle, inside and out. 
  
  From meticulous exterior hand washing and waxing to thorough interior cleaning and detailing, we employ the latest techniques and highest quality products to ensure your car looks its absolute best. With a passion for perfection and a commitment to customer satisfaction, 
  High Performance Detail is your trusted partner in maintaining the pristine condition and long-lasting appeal of your prized automobile. 
  Experience the difference with High Performance Detail today.</p>    
        
</div>

</section>
    
    
<!-- Individual Services -------------------------------------------------------------------------------------------------------------> -->

<section id="cards">
  <div id="Individual-services">
<h1 class="individual-services-h1">Indvidual Services</h1>
<p>*All prices listed are starting prices</p>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/spot-clean.png" alt="spot-clean "></div>
        <div class="card_content">
          <h2 class="card_title">Seat Cleaning &#x2022; $28</h2>
          <div class="card_text">
            <p>Easily tackle stubborn seat stains with our specialized car detailing services, designed to restore your upholstery to pristine condition.</p>
            <p>Say goodbye to unsightly marks and hello to a spotless driving experience with our seat stain removal solutions.</p>
          
          </div>
        </div>
      </div>
    </li>


    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/full-shampoo.png" alt="full-shampoo"></div>
        <div class="card_content">
          <h2 class="card_title">Full Shampoo Cleaning &#x2022; $35</h2>
          <div class="card_text">
            
            <p>Restore clarity and brightness to your headlights with our professional headlight restoration service, designed to enhance both safety and aesthetics.
            </p>
          </p>
            <p>Our premium-grade shampoo is specifically crafted to maintain the integrity of your upholstery while delivering a thorough cleanse, ensuring a showroom-worthy finish.
            <p>
              <p class="upcharge"> Experience unparalleled freshness and rejuvenation with our deep cleaning shampoo, the ultimate solution for restoring your car's interior to its former glory.</p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div>
        <div class="card_content">
          <h2 class="card_title">Headlight Restoration &#x2022; $72</h2>
          <div class="card_text">
          
            <p>Experience renewed confidence in your vehicle's appearance and performance with our comprehensive headlight restoration solutions.</p>
            <p>Restore clarity and brightness to your headlights with our professional headlight restoration service, designed to enhance both safety and aesthetics.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="scedule-now">
  <a class="effect1" href="#">
    Schedule Now!
    <span class="bg"></span>
  </a>
</div>

</section>

      <!-- Basic Cleaning ------------------------------------------------------------------------------------------------>


<section id="cards">
  <div id="Basic-cleaning" class="Basic-cleaning">
  <h1>Basic Detial Services</h1>
  <p>*All prices listed are starting prices</p>
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <div class="card_content">
            <h2 class="card_title">Extra Small &#x2022; $169</h2>
            <div class="card_text">
                  <ul class="detail-details" style="list-style-type: square;">
                    <li>Hand Wash</li>
                    <li>Wheels</li>
                    <li>Dress Tires And Trim</li>
                    <li>Wax Wheels And Body</li>
                    <li>Clean Interior Surfaces By Wiping Down And Dressing</li>
                    <li>Clean Windows</li>
                    <li>Vacuum Interior</li>

                  </ul>        
            </div>
          </div>
        </div>
      </li>


  
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">

          <div class="card_content">
            <h2 class="card_title">Small &#x2022; $205</h2>
            <div class="card_text">
              
              <ul class="detail-details" style="list-style-type: square;">
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Windows And Body</li>
                <li>Wax Wheels And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                <li>Vacuum Interior</li>
                
              </ul>        

            </div>
          </div>
        </div>
      </li>
      
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">

          <div class="card_content">
            <h2 class="card_title">Medium &#x2022; $259</h2>
            <div class="card_text">
            
              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                
              </ul>        

            </div>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <div class="card_content">
            <h2 class="card_title">Large &#x2022; $349</h2>
            <div class="card_text">

              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                
              </ul>        
            
            </div>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <div class="card_content">
            <h2 class="card_title">Extra Large &#x2022; $439</h2>
            <div class="card_text">

              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Carpets</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
              </ul>        
            
            
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>


<div class="scedule-now">
  <a class="effect1" href="#">
    Schedule Now!
    <span class="bg"></span>
  </a>
</div>


  </section>

<!-- Full Cleaning ---------------------------------------------------------------------------------------------------------->

  <section id="cards">
    <h1 class="full-detail-h1">Full Detail Services</h1>
    <p>*All prices listed are starting prices</p>
    <div  id="Full-detail" class="main">
      <ul class="cards">
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/spot-clean.png" alt="spot-clean "></div> -->
            <div class="card_content">
              <h2 class="card_title">Extra Small &#x2022; $369</h2>
              <div class="card_text">
                    <ul class="detail-details" style="list-style-type: square;">
                      <li>Hand Wash</li>
                      <li>Wheels</li>
                      <li>Dress Tires And Trim</li>
                      <li>Wax Wheels And Body</li>
                      <li>Clean Interior Surfaces By Wiping Down And Dressing</li>
                      <li>Clean Windows</li>
                      <li>Vacuum Interior</li>
  
                    </ul>        
              </div>
            </div>
          </div>
        </li>
  
  
    
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <div class="card_content">
              <h2 class="card_title">Small &#x2022; $405</h2>
              <div class="card_text">
                
                <ul class="detail-details" style="list-style-type: square;">
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Windows And Body</li>
                  <li>Wax Wheels And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  <li>Vacuum Interior</li>
                  
                </ul>        
  
              </div>
            </div>
          </div>
        </li>
        
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <div class="card_content">
              <h2 class="card_title">Medium &#x2022; $459</h2>
              <div class="card_text">
              
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  
                </ul>        
  
              </div>
            </div>
          </div>
        </li>
  
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <div class="card_content">
              <h2 class="card_title">Large &#x2022; $549</h2>
              <div class="card_text">
  
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  
                </ul>        
              
              </div>
            </div>
          </div>
        </li>
  
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <div class="card_content">
              <h2 class="card_title">Extra Large &#x2022; $639</h2>
              <div class="card_text">
  
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Carpets</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                </ul>        
              
              
              </div>
            </div>
          </div>
        </li>
  
      </ul>
    </div>

    <div class="scedule-now">
      <a class="effect1" href="#">
        Schedule Now!
        <span class="bg"></span>
      </a>
    </div>
    

    </section>

<!-- Contact ------------------------------------------------------------------------------------------------------------->


    
<section id="Contact">
  <div class="contact-info">
  <div class="phone-number">
    <h1>Call Us Today!</h1>
    <p>(530)966-1040</p>
  </div>
  <div class="email">
    <h1>Our Email!</h1>
    <p>hpdetailchico@gmail.com</p>
  </div>
</div>
</section>


<!-- Footer ------------------------------------------------------------------------------------------------------------->

<footer id="footer">
  <div class="container">
      <span class="text-light"><h3>&copy; High Performance Detail</h3></span>
  </div>

</footer>