<% layout('layouts/boilerplate') %>


<header id="car-wash-animation">
        <video src="images/car-wash.mov" muted loop autoplay></video>
    

    <div class="car-wash-text">
        <h1>Make your vehicule the best it can be!</h1>

        
        <div class="schedule-button">
        <div class="schedule-now">
          <a class="effect1" href="#">
            Schedule Now!
            <span class="bg"></span>
          </a>
        </div>
      </div>
        
      
      

</header>




<section>
<div id="about">
    <img class="logo" src="images/logo.jpg" alt="logo">
</div>
</section>




<div id="about-text">
    
    <h3>We are Chico California's premeir car detailing service!</h3>

    <p>Welcome to High Performance Detail! Your premier destination for professional car detailing services in the heart of Chico, California! 

        Our team of skilled detailers is dedicated to restoring and enhancing the beauty of your vehicle, both inside and out. 
        We understand that your car is more than just a mode of transportation – it's an investment and a reflection of your personality. 
        That's why we treat every vehicle with the utmost respect and care, using only the highest quality products and techniques to achieve stunning results.

        
      
        At High Performance Detial, customer satisfaction is our top priority. We take pride in our attention to detail,
         striving to ensure that every customer leaves our facility with a smile on their face and a car that sparkles inside and out. When you choose High Performance Detail for your car detailing needs, 
         you can rest assured knowing that your vehicle is in the hands of professionals who truly care.
        
        Experience the difference that professional car detailing can make – schedule an appointment with us today and let us take your car to the next level of cleanliness and shine!
        
        </p>
</div>
    
    
<section id="cards">
  <div id="Individual-services">
<h1>Indvidual Services</h1>
<p>*All prices listed are starting prices</p>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/spot-clean.png" alt="spot-clean "></div>
        <div class="card_content">
          <h2 class="card_title">Seat Cleaning &#x2022; $28</h2>
          <div class="card_text">
            <p>Easily tackle stubborn seat stains with our specialized car detailing services, designed to restore your upholstery to pristine condition.</p>
            <p>Say goodbye to unsightly marks and hello to a spotless driving experience with our seat stain removal solutions.</p>
          
          </div>
        </div>
      </div>
    </li>


    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/full-shampoo.png" alt="full-shampoo"></div>
        <div class="card_content">
          <h2 class="card_title">Full Shampoo Cleaning &#x2022; $35</h2>
          <div class="card_text">
            
            <p>Restore clarity and brightness to your headlights with our professional headlight restoration service, designed to enhance both safety and aesthetics.
            </p>
          </p>
            <p>Our premium-grade shampoo is specifically crafted to maintain the integrity of your upholstery while delivering a thorough cleanse, ensuring a showroom-worthy finish.
            <p>
              <p class="upcharge"> Experience unparalleled freshness and rejuvenation with our deep cleaning shampoo, the ultimate solution for restoring your car's interior to its former glory.</p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div>
        <div class="card_content">
          <h2 class="card_title">Headlight Restoration &#x2022; $72</h2>
          <div class="card_text">
          
            <p>Experience renewed confidence in your vehicle's appearance and performance with our comprehensive headlight restoration solutions.</p>
            <p>Restore clarity and brightness to your headlights with our professional headlight restoration service, designed to enhance both safety and aesthetics.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</section>

      <!-- Basic Cleaning ------------------------------------------------------------------------------------------------>


<section id="cards">
  <div id="Basic-cleaning" class="Basic-cleaning">
  <h1>Basic Detial Services</h1>
  <p>*All prices listed are starting prices</p>
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <!-- <div class="card_image"><img src="images/spot-clean.png" alt="spot-clean "></div> -->
          <div class="card_content">
            <h2 class="card_title">Extra Small &#x2022; $169</h2>
            <div class="card_text">
                  <ul class="detail-details" style="list-style-type: square;">
                    <li>Hand Wash</li>
                    <li>Wheels</li>
                    <li>Dress Tires And Trim</li>
                    <li>Wax Wheels And Body</li>
                    <li>Clean Interior Surfaces By Wiping Down And Dressing</li>
                    <li>Clean Windows</li>
                    <li>Vacuum Interior</li>

                  </ul>        
            </div>
          </div>
        </div>
      </li>


  
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">

          <!-- <div class="card_image"><img src="images/full-shampoo.png" alt="full-shampoo"></div> -->
          <div class="card_content">
            <h2 class="card_title">Small &#x2022; $205</h2>
            <div class="card_text">
              
              <ul class="detail-details" style="list-style-type: square;">
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Windows And Body</li>
                <li>Wax Wheels And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                <li>Vacuum Interior</li>
                
              </ul>        

            </div>
          </div>
        </div>
      </li>
      
      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">

          <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
          <div class="card_content">
            <h2 class="card_title">Medium &#x2022; $259</h2>
            <div class="card_text">
            
              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                
              </ul>        

            </div>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
          <div class="card_content">
            <h2 class="card_title">Large &#x2022; $349</h2>
            <div class="card_text">

              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
                
              </ul>        
            
            </div>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div id="basic-cleaning-card" class="card" tabindex="0">
          <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
          <div class="card_content">
            <h2 class="card_title">Extra Large &#x2022; $439</h2>
            <div class="card_text">

              <ul class="detail-details" style="list-style-type: square;">

                <li>Vacuum Interior</li>
                <li>Wax Wheels And Body</li>
                <li>Hand Wash</li>
                <li>Carpets</li>
                <li>Wheels</li>
                <li>Dress Tired And Trim</li>
                <li>Windows And Body</li>
                <li>Clean Interior Surces By Wipind and Dressing</li>
              </ul>        
            
            
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
  </section>

<!-- Full Cleaning ---------------------------------------------------------------------------------------------------------->

  <section id="cards">
    <h1>Full Detail Services</h1>
    <p>*All prices listed are starting prices</p>
    <div  id="Full-detail" class="main">
      <ul class="cards">
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/spot-clean.png" alt="spot-clean "></div> -->
            <div class="card_content">
              <h2 class="card_title">Extra Small &#x2022; $369</h2>
              <div class="card_text">
                    <ul class="detail-details" style="list-style-type: square;">
                      <li>Hand Wash</li>
                      <li>Wheels</li>
                      <li>Dress Tires And Trim</li>
                      <li>Wax Wheels And Body</li>
                      <li>Clean Interior Surfaces By Wiping Down And Dressing</li>
                      <li>Clean Windows</li>
                      <li>Vacuum Interior</li>
  
                    </ul>        
              </div>
            </div>
          </div>
        </li>
  
  
    
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/full-shampoo.png" alt="full-shampoo"></div> -->
            <div class="card_content">
              <h2 class="card_title">Small &#x2022; $405</h2>
              <div class="card_text">
                
                <ul class="detail-details" style="list-style-type: square;">
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Windows And Body</li>
                  <li>Wax Wheels And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  <li>Vacuum Interior</li>
                  
                </ul>        
  
              </div>
            </div>
          </div>
        </li>
        
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
            <div class="card_content">
              <h2 class="card_title">Medium &#x2022; $459</h2>
              <div class="card_text">
              
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  
                </ul>        
  
              </div>
            </div>
          </div>
        </li>
  
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
            <div class="card_content">
              <h2 class="card_title">Large &#x2022; $549</h2>
              <div class="card_text">
  
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                  
                </ul>        
              
              </div>
            </div>
          </div>
        </li>
  
        <li class="cards_item">
          <div id="basic-cleaning-card" class="card" tabindex="0">
            <!-- <div class="card_image"><img src="images/headlight-restoration.png" alt="headlight-restoration"></div> -->
            <div class="card_content">
              <h2 class="card_title">Extra Large &#x2022; $639</h2>
              <div class="card_text">
  
                <ul class="detail-details" style="list-style-type: square;">
  
                  <li>Vacuum Interior</li>
                  <li>Wax Wheels And Body</li>
                  <li>Hand Wash</li>
                  <li>Carpets</li>
                  <li>Wheels</li>
                  <li>Dress Tired And Trim</li>
                  <li>Windows And Body</li>
                  <li>Clean Interior Surces By Wipind and Dressing</li>
                </ul>        
              
              
              </div>
            </div>
          </div>
        </li>
  
      </ul>
    </div>
    </section>

<!-- Contact ------------------------------------------------------------------------------------------------------------->


    
<section id="Contact">
  <div class="phone-number">
    <h1>Call Us Today!</h1>
    <p>(530)966-1040</p>
  </div>
  <div class="email">
    <h1>Our Email!</h1>
    <p>hpdetailchico@gmail.com</p>
  </div>
</section>


<!-- Footer ------------------------------------------------------------------------------------------------------------->

<footer id="footer">
  <div class="container">
      <span class="text-light"><h3>&copy; High Performance Detail</h3></span>
  </div>

</footer>