<% layout('layouts/boilerplate') %>


<header id="car-wash-animation">
        <video src="images/car-wash.mov" muted loop autoplay></video>
    

    <div class="car-wash-text">
        <h1>Schedule today to have your vehicle turning heads!</h1>
    </div>

    

</header>

<section>
<div id="about">
    <img class="logo" src="images/logo.jpg" alt="logo">

    
</div>
</section>




<div id="about-text">
    
    <h3>We are Chico California's premeir car detailing service!</h3>

    <p>Welcome to High Performance Detail! Your premier destination for professional car detailing services in the heart of Chico, California! 

        Our team of skilled detailers is dedicated to restoring and enhancing the beauty of your vehicle, both inside and out. 
        We understand that your car is more than just a mode of transportation – it's an investment and a reflection of your personality. 
        That's why we treat every vehicle with the utmost respect and care, using only the highest quality products and techniques to achieve stunning results.

        
      
        At High Performance Detial, customer satisfaction is our top priority. We take pride in our attention to detail,
         striving to ensure that every customer leaves our facility with a smile on their face and a car that sparkles inside and out. When you choose High Performance Detail for your car detailing needs, 
         you can rest assured knowing that your vehicle is in the hands of professionals who truly care.
        
        Experience the difference that professional car detailing can make – schedule an appointment with us today and let us take your car to the next level of cleanliness and shine!
        
        </p>
</div>
    
    
