<% layout('layouts/boilerplate') %>


<header id="car-wash-animation">
    <div class="container">
        <video src="images/car-wash.mov" muted loop autoplay></video>
    </div>

    <div class="car-wash-text">
    
        <h1>Schedule today to have your vehicule tearning heads!</h1>

       
          
      
    </header>

