

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #000;
}

@media (max-width: 400px) {
  body {
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    background-color: #000;
  }
}


@media (max-width: 800px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    background-color: #000;
  }
}


/* Navbar Section --------------------------------------------------------------------------------------------------------------  */


.navbar {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #333;
  color: white;
}


.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  padding-right: 10rem;

}

.title {
  text-decoration: none;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
   
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


#bar2{
  margin: 0;
}



@media (max-width: 400px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 100px;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      margin: 0;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  .wrapper {
    padding: 20px 20px;
  }

  .navbar-logo{
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
  }

  

  .toggle-button {
      display: flex;
      width: 60px;
      height: 50px;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  .wrapper {
    padding: 20px 20px;
  }
}


/* Navbar Buttons --------------------------------------------------------------------------------------------------------------  */

 @import url('https://fonts.googleapis.com/css?family=Poppins:900i');



.wrapper {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #ef3939;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #d5d0d0;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
  }  


   
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
} 


@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #fefefd;
    }
    100% {
        fill: white;
    }
}

@media(max-width: 400px) {
  .wrapper {
    padding: 10px 10px;
  }
}




/* Car Animation Section --------------------------------------------------------------------------------------------------------------*/ */

.video-header{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
  object-fit: cover;

}

.header-content{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-top: 100px;
}



.header-content h1{
  font-size: 110px;
  margin-bottom: 20px;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(48, 206, 226);
}



@media (max-width: 800px) {
  .header-content h1{
    font-size: 30px;
  }

  .video-header{
    height: 400px;
  }
  
  .header-content{
    padding-top: 400px;
  }


  video{
    display: none;
  }

.navbar-links-active ul{
    margin: 0;
  }
}

/* Scedule Now Button ------------------------------------------------------------------------------------------------------------------------*/

.schedule-button {
  padding-top: 30px;
}

.scedule-now {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  

}

.effect1 {
  font-weight: 600;
  color: hsl(0, 100%, 100%);
  text-decoration: none;
  font-family: "Racing Sans One", sans-serif;
  font-style: normal;
  font-weight: 100;
  position: relative;
  padding: 10px 50px 10px 20px;
  font-size: 20px;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  -webkit-transform: scale(3);

      -ms-transform: scale(3);

          transform: scale(3); 
}

.effect1 .bg {
  background: #ef3939;
  width: 40px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: #fff;
}

.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background: #ef3939;
  position: absolute;
  right: -2px;      
  -webkit-transition: all 0.3s;      
  -o-transition: all 0.3s;      
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 6px;
}

.effect1:hover .bg:after{
  top: 6px;
} 



@media (max-width: 400px) {
  .effect1 {
    width: 60px;
    margin-top: 30px;
    font-size: 10px;
  }

  .bg{
    display: none;
  }
}

@media (max-width: 600px) {
  .wrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .wrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/* ABOUT SECTION ------------------------------------------------------------------------------------------------------------------------*/ */

#about{
  width: 100%;
  margin-bottom: 200px;
}

.img-div{
  display: grid;
  place-items: center;
}

.logo{
  display: flex;
  padding-top: 50px;
  width: 600px;
  
}


h2{
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;

}

 .about-text p{
  color: white;
  line-height: 50px;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
 }


 @media (max-width: 600px) {
  .logo{
    width: 400px;
  }

  #about{
    padding-top: 100px;
    }

  .about-text p{
    font-size: 20px;
    line-height: 30px;
  }
 }

 @media (max-width: 400px) {
  .logo{
    width: 200px;
  }

  #about{
    padding-top: 100px;
    }

  .about-text p{
    font-size: 20px;
    line-height: 30px;
  }
 }



/* Card Section /  individual services section--------------------------------------------------------------------------------------------------------------------*/


.Individual-services{
  padding-top: 100px;
  padding-bottom: 100px;

}

#Individual-services h1{
  font-size: 5rem;
  text-align: center;
  color: white;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Basic-cleaning h1{
  font-size: 5rem;
  text-align: center;
  color: white;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.full-detail-h1{
  font-size: 5rem;
  text-align: center;
  color: white;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#cards p{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --red: #cc1d2e;
  --aqua: #b4fee7;
  --violet: #e86122;
  --fuchsia: #fd49a0;
  --white: #efefef;
  --black: #222;
  --trueBlack: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#basic-cleaning-card{
  padding-top: 120px
}



.main {
  margin-left: 1rem;
}

.detail-details {
  line-height: 40px;
  font-size: 20px;
}

.cards {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;

}

#cards{
  padding-bottom: 500px;
}

.cards_item {
  display: flex;
}



.card_image {
  display: flex;
  height: 250px;
  box-shadow: 0 50px 100px 0 var(--violet);
}

.card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--red);
  border-radius: 5px 25px 5px 50px;
  transition: transform 0.1s linear, box-shadow 0.2s;
}

.card_text:focus,
.card:focus {
  outline: 2px dashed var(--aqua);
}

.card:focus,
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
  padding: 0.5rem 1rem 1rem;
  color: var(--white);
}

.card_title {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: auto;
  color: var(--white);
  padding: .5rem;
  margin-top: 20px;
  border-radius: 5px 0 0 5px;
  transform: rotate(-3.3deg);
  transform-origin: left top;
  font-family: Georgia, Times, serif;
  font-weight: 600;
  font-size: 1.325rem;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(168, 42, 42, 0.75);
  animation: 0s 0s fly-in 0 reverse both;
}

@media (min-width: 535px) {
  .card_title {
    animation: 0.5s 0.25s fly-out 1 both;
  }
}

.card:focus .card_title,
.card:hover .card_title {
  animation: 0.5s ease-in 0s fly-in 1 both;
}

.card_text {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica,
    Helvetica Neue, Arial, sans-serif;
  line-height: 1.5;
  text-size-adjust: 0.2px;
  padding: 0 1rem;
  font-size: 50;
}

.card_text p:first-of-type:first-letter {
  font-size: 1.8em;
  font-family: Georgia, Times, serif;
  margin-right: 0.05em;
}

@media (min-width: 400px) {
  .individual-services-h1{
    font-size: 40px;
  }

  .card_text {
    overflow: auto;
    max-height: 20rem;
    scrollbar-width: thin;
    scrollbar-color: var(--aqua) var(--violet);
  }

  .card_text::-webkit-scrollbar {
    width: 12px;
  }

  .card_text::-webkit-scrollbar-track {
    background: var(--violet);
  }

  .card_text::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
  }
}

.card_text strong {
  color: var(--aqua);
}

.upcharge {
  position: relative;
  font-weight: 600;
  background-color: var(--violet);
  padding: 0.5rem 0.75rem;
  color: var(--trueBlack);
  border-radius: 0 10px;
  z-index: 0;
  overflow: hidden;
}

.upcharge::after,
.upcharge::before {
  content: "+";
  display: block;
  line-height: 0;
  font-size: 3rem;
  position: absolute;
  color: var(--purple);
  z-index: -1;
  opacity: 0.3;
}

.upcharge::before {
  left: 0;
  top: 0.5rem;
}

.upcharge::after {
  right: 0;
  bottom: 1.25rem;
}

.note {
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-weight: 900;
  background-image: linear-gradient(
    -45deg,
    transparent 10%,
    var(--aqua) 10.5%,
    var(--aqua) 90%,
    transparent 90.5%
  );
  color: var(--black);
  font-size: 1.3em;
  font-style: italic;
  margin-top: 1rem;
}

@keyframes fly-in {
  0% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }

  25% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  26% {
    font-size: 2rem;
  }

  100% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }
}

@keyframes fly-out {
  0% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }

  50% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  100% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }
}



/* Contact Section ---------------------------------------------------------------------------------------------------------*/

#Contact{
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;  
  display: flex;
}

.phone-number{
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

.email{
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}



#Contact h1{
  font-size: 4rem;
  color: white;
}

#Contact p{
  color: white;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

@media (max-width: 400px){
  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .email{
    padding: 0;
  }
  .phone-number{
    padding: 0;
  }
}


@media (max-width: 600px){
  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .email{
    padding: 0;
  }
  .phone-number{
    padding: 0;
  }
}

/* Footer ---------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER */

#footer{
  height: 50px;
  text-align: center;
  background-color: #000;
  justify-content: center;
  width: 100%;
 
 }

 #footer h3 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
 }
